.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Usa viewport width en lugar de % */
  height: 100vh; /* Usa viewport height en lugar de % */
  background-color: #2196F3; /* Color de fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-out;
}
  
  .splash-screen.fade-out {
    opacity: 0;
    pointer-events: none; /* Evita la interacción mientras desaparece */
  }
  